<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="go('edit-categories')">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let category of all_categories" (click)="goAndSelect('add-transaction', category)">
    <ion-avatar slot="start">
      <ion-icon size="large" name="{{category.icon}}"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3>{{category.name}}</h3>
      <p>{{category.type}}</p>
    </ion-label>
  </ion-item>

</ion-content>
