
.grid-transactions ion-row{
    //border: 1px solid black;
    border-bottom: 0.2px solid #D0D0D0;
    transition: all .5s;
}

ion-col{
    //padding: 0;
    //border: 1px solid black;
}

.container{
    --ion-background-color:#e5e5e5;
}

.search{
    --ion-background-color:white;
    --border-radius: 5px;
    padding: 3% 2%;
    transform: scaleY(1.1); // Can also scale individually with scaleX() and scaleY()

}

h2{
    color: #282828;
}

.intro{
    padding: 5%;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.arrow-up{
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    color: green;
    font-size: 48px; //Size of the icon
}

.arrow-down{
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    color: red;
    font-size: 48px; //Size of the icon
}


h2{
    margin-top: 5px;
    font-weight: 600;
}

.value-expense{
    color: red;
}
.value-income{
    color: green;
}

.value-transfer{
    color: blue;
}

/*
.edit-button{
    margin-right: 1%;
    --padding-end: 50px;
    --padding-start: 50px;
}

.delete-button{
    margin-left: 1%;
    --padding-end: 40px;
    --padding-start: 40px;
}

*/