
ion-row{
    //border: 1px solid black;
    border-bottom: 0.2px solid #D0D0D0;
}

ion-col{
    //padding: 0;
    //border: 1px solid black;
}

h2{
    margin-top: 5px;
}

.edit-button{
    margin-right: 2%;
    --padding-end: 50px;
    --padding-start: 50px;
}

.delete-button{
    --padding-end: 50px;
    --padding-start: 50px;
}