<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Mis transacciones
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="selectOrder()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="selectMonth()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="intro" fixed="true">
    <ion-row>
      <ion-col class="saldo">
        {{all_months[month-1]}}, {{year}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-icon name="arrow-up-circle" class="arrow-up"></ion-icon>
      </ion-col>
      <ion-col size="6">
        Ingreso <br> <h4>{{income}} €</h4>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="arrow-down-circle" class="arrow-down"></ion-icon>
      </ion-col>
      <ion-col>
        Gasto <br> <h4>{{expense}} €</h4>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-header>

<ion-content class="container">
  <ion-grid class="grid-transactions">
    <ion-row *ngFor="let trans of all_transactions; let i=index" [@fadeInOut]>
      <ion-col class="ion-align-self-center" size="2" (click)="doClick(i)">
        <ion-icon size="large" name="{{trans.category.icon}}"></ion-icon>
      </ion-col>
      <ion-col class="ion-align-self-center" (click)="doClick(i)">
        <h2>{{trans.category.name}}</h2>
        <span>{{trans.note}}</span>
      </ion-col>
      <ion-col class="ion-align-self-center" style="text-align: right;" (click)="doClick(i)">
        <h2 *ngIf="trans.category.type=='Gasto'" class="value-expense">{{trans.value}}</h2>
        <h2 *ngIf="trans.category.type=='Ingreso'" class="value-income">{{trans.value}}</h2>
        <h2 *ngIf="trans.category.type=='Transfer'">{{trans.value}}</h2>
        <span>{{trans.day}}-{{trans.month}}-{{trans.year}}</span>
      </ion-col>
      <div *ngIf="clicked[i]" [@fadeInOut] style="width: 100%; text-align: center; padding-bottom: 2%;">
        <div style="width: 45%; display: inline-block;" (click)="editTransaction(trans.id)">
          <ion-button expand="block" class="edit-button">Editar</ion-button>
        </div>
        <div style="width: 45%;display: inline-block;" (click)="deleteTransaction(trans.id)">
          <ion-button expand="block" color="secondary" class="delete-button">Eliminar</ion-button>
        </div>
      </div>
    </ion-row>

  </ion-grid>
</ion-content>