ion-toolbar{
    border-style: none;
    border-width: 0;
    border-color: #e63946;
}

.container{
    --ion-background-color:#e5e5e5;
}

.intro{
    padding: 5%;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

ion-row{
    //border: 1px solid black;
}

ion-col{
    padding: 0;
    //border: 1px solid black;
}


h1{
    font-size: 40px;
    font-weight: bold;
}

.saldo{
    text-align: center;
}

.arrow-up{
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    color: green;
    font-size: 48px; //Size of the icon
}

.arrow-down{
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    color: red;
    font-size: 48px; //Size of the icon
}

.cuenta{
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    //color: rgb(84, 84, 184);
    font-size: 48px; //Size of the icon
}
.card{
    margin-top: 5%;
    border-radius: 15px;
    background-color: white;
}
.account{
    border-bottom: 1px solid grey;
}

.account-details{
    margin-top: 2.5%;
}
.account-name{
    font-size: 16px;
    color: black;
}
.account-balance{
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.add-account-button{
    margin-top: 4%;
    margin-bottom: 0;
}

ion-toggle{
    margin-top: 18%;
}

.healthy-value{
    font-size: 60px;
    font-weight: 600;
    color: green;
}

.healthy-text{
    text-align: justify;
}

.last{
    margin-bottom: 8%;
}
