<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Análisis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-card class="card" fixed="true" (click)="go('anual-expense-income')">
    <ion-card-header>
      <ion-card-title>Gastos e ingresos anuales</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card" fixed="true" (click)="go('anual-expense-income')">
    <ion-card-header>
      <ion-card-title>Gastos e ingresos categorizados</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card" fixed="true" (click)="go('anual-expense-income')">
    <ion-card-header>
      <ion-card-title>Evolución del gasto y del ingreso por categorias</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>