<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item style="margin-top: 2%;" *ngFor="let account of all_accounts" (click)="goAndSelect('edit-one-account', account)" class="account">
    <ion-avatar slot="start">
      <ion-icon size="large" name="{{account.icon}}"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h1>{{account.name}}</h1>
    </ion-label>
  </ion-item>

  <!-- fab placed to the bottom end -->
  <ion-fab (click)="go('add-account')" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
