<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-item class="selector" style="margin-bottom: 5%; margin-top: 10%;">
      <ion-label>Tipo</ion-label>
      <ion-select value="{{type}}" name="type" [(ngModel)]="type" (ionChange)="selectType()">
        <ion-select-option value="Ingreso">Ingreso</ion-select-option>
        <ion-select-option value="Gasto">Gasto</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="selector" style="margin-bottom: 5%;">
      <ion-label>Naturaleza</ion-label>
      <ion-select value="1" name="type2" [(ngModel)]="type2" (ionChange)="selectType()">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid class="selector-container">
      <ion-row>
        <ion-col size="10">
          <ion-item class="selector">
            <ion-label>Icon</ion-label>
            <ion-select value="{{icon}}" name="icon" [(ngModel)]="icon" (ionChange)="selectType()">
              <ion-select-option *ngFor="let icon of all_icons; let i=index" value="{{i}}">{{icon}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-icon color="primary" class="icon" name="{{all_icons[icon]}}" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>   

  </form>

  <ion-button expand="block" color="primary" (click)="edit_category()" class="buttons first-button">Confirmar cambios</ion-button>
  <ion-button expand="block" color="secondary" (click)="openAlert()" class="buttons">Eliminar categoria</ion-button>


</ion-content>

